 <div class="user-details">
  <h1> Acerca de Mi </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Diseño</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
     
      <p>Herramientas tecnologicas para el frontend: HTML 5, CSS, BOOTSTRAP, LIVEWIRE</p>
    </div>
    <div class="tech">
      <h2>Código</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Diferentes Hermanientras para el desarrollo del backend: PHP, Laravel, JS, Laravel Fortify</p>
    </div>
    <div class="tech">
      <h2>Herramientas</h2>
      <i class="devicon-git-plain"></i>
     
      <p>GitHub, Git, Visual Studio Code</p>
    </div>
</div>
